body{
  background-color: #fff !important;
}

.App {
  text-align: center;
  background-color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
header {
  background-color: black;
  padding-top: 25px;
  padding-bottom: 25px;
}
header h1 {
  color: white;
  font-family: Lobster;
}

h1,p{
  color: white;
}
.home {
  bottom: 0px;
}
.home h2 {
=======
>>>>>>> origin/lms_Keerthana
  color: white;
  font-family: Mondia;
}
.home-page-info {
  background-color: #fff;
}
.home-page-info p{
  font-family: Mondia;
}
.home {
  bottom: 0px;
}
.home h2 {
  color: white;
  font-family: Mondia;
}
.home-page-info {
  background-color: #fff;
}
.home-page-info p{
  font-family: Mondia;
}

.login-side {
  font-family: Mondia;
  padding-top: 13%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}